@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

/* Reset and base styles */
html {
    background-color: #14272E;
    border: solid 2px #33D389;
    border-radius: 10px;
    overflow: hidden;
}

body {
    font-family: Nunito, sans-serif;
    width: auto;
    min-width: 300px;
    overflow: hidden;
    margin: 0;
}

/* Typography */
h1 {
    color: white;
    text-align: center;
    margin: 0.75rem 0;
    padding: 0;
    font-size: 1.5rem;
}

p {
    color: white;
    font-size: 1rem;
    margin: 0 0.25rem;
}

span {
    display: flex;
    justify-content: right;
    align-items: center;
}

/* Layout and components */
.button-container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 0.75rem;
}

button {
    font-family: Nunito, sans-serif;
    font-size: 14px;
    font-weight: 400;
    height: 30px;
    background-color: #6ca11d;
    color: white;
    border: none;
    border-radius: 16px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto 0;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

.right {
    text-align: right;
}

.left {
    text-align: left;
    font-family: "Courier New", Courier, monospace;
}

.border-line {
    height: 2px;
    width: 100%;
    background-color: #33D389;
    margin-bottom: 0.75rem;
}